@{
    ViewBag.Title = "AboutMe";
}

    <h2>About Myself</h2>

    <img class="mepicture" alt="Eric Tran" src="@Url.Content("~/Images/me.jpg")" />

    <h3 class="alignleft">Education</h3>

    <div class="aboutmebody">
    <ul>
        <li>2014, B.A., Major: Management Information Systems, Minor: Computer Science, California State University Long Beach</li>
    </ul>
    </div>

    <h3 class="alignleft">Working Experience</h3>

    <div class="aboutmebody">
    <ol>
        <li>Recruit, Volt Solutions Workforce, Summer of 2012</li>
        <li>Lab Assistant Intern, General Monitors, Summer of 2007/2008</li>
    </ol>
    </div>

    <h3 class="alignleft">Expectation for this course</h3>

    <div class="aboutmebody">
    <p1>I would like to learn about how to start up a dynamic website and how to approach it in the most efficient way. I would also like to learn some tips and tricks for HTML, CSS, and JavaScript.</p1>
    </div>

    <br />