@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to my home page</h2>
<h4>Please click a link to visit my other pages</h4>

        <br />
     <footer>
         <address>
             Eric Tran&copy; Contact Information
             <a href="mailto:etran029@gmail.com">Email: etran029@gmail.com</a>
             Phone: (714) 933-8543
         </address>
    </footer>